@* Created by Natasha *@
@{
    ViewData["Title"] = "Information";
}

<div class="text-center">
    <h1 class="display-4">Information om Birkesøløbet</h1>
    <h2>Tilmelding</h2>
    <p>
        Fra 1. august og indtil dagen før løbets start.
        <br />
    </p>
    <p>
        Startnumre ligger klar når I kommer.
        <br />
    </p>
    <p>
        Du kan også eftertilmelde ved at møde op ved startstedet inden 10:45.
        <br />
    </p>

    <p>
        Der er tre distancer: 3,5 km, 5,5 km og 10,1 km. <br />
        Prisen er 50,- for børn og voksne. <br />
    </p>
    <h2>Ruter:</h2>
    <a href="http://iform.dk/ruteplanner/stoholm-jyll/birkesoeloebet3">Birkesøløbet 3,5 km</a><br />
    <a href="http://iform.dk/ruteplanner/stoholm-jyll/birkesoeloebet3">Birkesøløbet 5,5 km</a><br />
    <a href="http://iform.dk/ruteplanner/stoholm-jyll/birkesoeloebet3">Birkesøløbet 10,1 km</a>
</div>
