@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "Profile";
}
@model WebApplication.Models.User

<form asp-controller="Home" asp-action="GetDetails" method="post">
    <h1>Tilmelding</h1>
    <div>
        <p1>Indtast navn:</p1><br />
        <input type="text" name="Name" /><br />
        <p1>Indtast Mail:</p1><br />
        <input type="text" name="Mail" /><br />
        <p1>Indtast telefon nummer:</p1><br />
        <input type="text" name="Phone" /><br />
        <p1>Indtast adresse:</p1><br />
        <input type="text" name="Adress" /><br />
        <br />
        <input type="submit" name="Ok" />
    </div>
</form>