<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=Alfa_Database;Trusted_Connection=True;MultipleActiveResultSets=true"
			 providerName="system.data.sqlclient"/>
	</connectionStrings>
</configuration>